@mixin borderdStyle($width,$color) {
    border: $width solid$color;
}
.div-border{
    @include borderdStyle(2px,green );
    width: 200px;
}
textarea{
    @include borderdStyle(1px,red );
}
nav{
    ul{
        margin: 0;
        padding: 0;
        list-style: none;

    }
    
    li
    {
        display: inline-block;
    }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;

    }
}